# o files

# /
binary/
rootfs/
*.gz
*.img
.vscode-ctags
backup/
*copy/

# ubuntu-build-service
.build/
auto/
cache/
chroot/
config/
binary/
ubuntu-build-service/*/local/

*.build-log.txt
*.packages.install
*.config.tar.bz2
*.contents
*.md5sums.txt
*.packages
*.sha1sums.txt
*.tar.gz
